<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
<
<div class="container">
    <div class="row">
        <div class=" col-md-3" th:each="star:${starList}">
            <div class="thumbnail" style="width: 200px;">
                <img th:src="${star.avatar}" style="height: 250px">
                    姓名:<h1 th:text="${star.name}" style="font-size: 12px"></h1>
                    年龄:<p th:text="${star.age}"></p>
                    性别:<p th:text="${star.sex}"></p>
                    国籍
            </div>
        </div>
    </div>
</div>
</body>
</html>